<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sky.mybatis.Mapper">
  <select id="selectCourse" resultType="org.sky.mybatis.Course">
    select * from course
  </select>
  <select id="selectCourseWithName" parameterType="string" resultType="org.sky.mybatis.Course">
    select * from course where cou_name = #{cou_name}
  </select>
  <select id="selectCourseWithNameAndTea" resultType="org.sky.mybatis.Course">
    select * from course where cou_name = #{cou_name} and cou_tea = #{cou_tea}
  </select>
  <insert id="addCourse">
    insert into course (cou_name, cou_credit, cou_ser, cou_per, cou_tea, cou_term, cou_room) values (#{cou_name}, #{cou_credit}, #{cou_ser}, #{cou_per}, #{cou_tea}, #{cou_term}, #{cou_room})
  </insert>
  <update id="updateCourse">
    update course set cou_name=#{cou_name}, cou_credit=#{cou_credit}, cou_per=#{cou_per}, cou_tea=#{cou_tea}, cou_term=#{cou_term}, cou_room=#{cou_room} where cou_ser=#{cou_ser}
  </update>
  <delete id="deleteCourse">
    delete from course where cou_ser=#{cou_ser}
  </delete>
</mapper>
