<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="bookDao" name="dao book" class="org.example.dao.impl.BookDaoImpl" />
  <bean id="userDao" class="org.example.dao.impl.UserDaoImpl">
    <property name="id" value="10" />
  </bean>
  <bean id="managerDao" class="org.example.dao.impl.ManagerDaoImpl">
    <constructor-arg name="bookDao" ref="bookDao" />
    <constructor-arg name="id" value="1" type="int" index="1" />
    <property name="nums">
      <array>
        <value>0</value>
      </array>
    </property>
  </bean>
  <bean id="bookService" class="org.example.service.impl.BookServiceImpl" init-method="init" destroy-method="close">
    <property name="bookDao" ref="bookDao" />
    <property name="userDao" ref="userDao" />
    <property name="managerDao" ref="managerDao" />
  </bean>

  <bean id="bookStaticFactory" class="org.example.factory.BookStaticFactory" factory-method="getBookDao" />

  <bean id="bookFactory" class="org.example.factory.BookFactory" />
  <bean id="bookDaoFromFactory" factory-bean="bookFactory" factory-method="getBookDao" />

  <bean id="bookDaoFactoryBean" class="org.example.factory.BookDaoFactoryBean" />

</beans>